.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  border: 2px solid rgb(15, 84, 187);
  width: 80%;
  min-width: 800px;
  height: 200px;
}
  
th {
  border-bottom: 1px solid black;
  font-style: normal;
  color: white;
}
  
td {
  text-align: center;
}

header {
  font-size: calc(20px + 2vmin);
  text-align: center;
}

/* Home Page CSS */
.HomeDiv {
  height:100%;
  position: absolute;
  right:0px;
  left:0px;
}


/* Model List CSS */
.ModelList {
  height: 100%;
  position: absolute;
  right:0px;
  left:0px;
}

.Header {
  font-size: calc(35px + 2vmin);
  color: white;
}

.ModelListTable {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.TableDiv {
  overflow-x: auto; 
}

.TableHeader {
  border-bottom: 2px solid rgb(15, 84, 187);
  background-color:rgb(15, 84, 187);
  border-bottom: 2px solid white;
}

.TableRows {
  border-top: 2px solid rgb(150, 150, 150);
}

.TableRows:hover {
  background-color: rgb(15, 84, 187);
  color: white;
}

.SelectButton {
  background-color: white;
  border: 2px solid rgb(15, 84, 187);
  border-radius: 10px;
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.btn:hover {
  background-color: white;
}

/* Selected Model */
.SelectedModel {
  height:100%;
}

.accordion {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Subheader {
  font-size: calc(25px + 2vmin);
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
}

.GraphDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MetricsTable {
  text-align: center;
  background-color: white;
}

.MetricsTableHeader {
  background-color: rgb(15, 84, 187);
}

.MetricsTableRows {
  border-top: 2px solid rgb(15, 84, 187);
}

.MetricsTableData {
  border-right: 2px solid rgb(15, 84, 187);
}

.MetricsTableData:hover {
  background-color: rgb(15, 84, 187);
  color: white;
}

.EmptyRow {
  background-color: rgb(15, 84, 187);
}

.Charts {
  width: 80%;
  min-width: 400px;
}

.Spacer {
  margin-top: 30px;
}

.ImageDiv {
  width: 80%;
  min-width: 400px;
}

.ImageDiv .ConfMatImage {
  width: 100%;
  height: auto;
}

.ImageDiv .FeatureImage {
  width: 100%;
  height: auto;
}